body
{
	margin: 0px;
	display: flex;
	flex-direction: row-reverse;
}

header
{
	margin-bottom: 15%;
	

}

.nom
{
	color: #d32f2f;
}



#Partie_Principale
{
	width: 66%;
	padding-left: 4%;
	padding-top: 4%;
	margin-left: 0px;

	
}

#Partie_Principale h2
{
	border-bottom: 1px solid #d32f2f;
	padding-bottom: 10px;
	font-size: 1.8em;
}

h2
{
	font-size: 1.8em;
	font-family: Trebuchet MS;
}

h3
{
	font-size: 1.6em;
	font-family: Georgia;
	font-weight: normal;
}

h4
{
	font-size: 1.4em;
	font-family: Georgia;
	font-weight: normal;
}

p
{
	font-size: 1.2em;
	font-family: Comic Sans MS;
}

#formation
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	

	
}

#expérience
{	
	display: flex;
	flex-direction: column;
	
	
	margin-top: 60px;
}

#formation_1
{
	display: flex;
	flex-direction: row;
	
	margin-bottom: 20px;
	justify-content: space-between;
	

}

.element_1
{
	padding-top: 6px;
	margin-right: 10px;
	
	width: 33%;
	word-wrap: break-word;
	
}

.element_2
{
	margin-left: 60px;
	
	width: 66%;
	word-wrap: break-word;
}

#formation_2
{
	display: flex;
	
	justify-content: space-between;

}

#travail_1
{
	display: flex;
	
	margin-bottom: 20px;
	justify-content: space-between;
}

#travail_2
{
	display: flex;
	
	justify-content: space-between;
}








footer
{
	
	padding-left: 0px;
	margin-top: 60px;
}


#reco
{
	display: flex;
	justify-content: space-between;
	

}



#Partie_Principale img
{
	width: 5%;
	height: 5%;

}










#Partie_Secondaire
{
	width: 33%;
	background-color: #d32f2f;

	

}

#Ma_Photo
{
	justify-content: center;
	display: flex;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.titre_gauche
{
	background: #424242;
	text-align: center;
	color: #d32f2f;
	font-weight: bold;
	padding: 10px;
}



#loisirs
{
	display: flex;
	
	
}

#loisirs img 
{
	width: 10%;
	padding-left: 13%;
	padding-top: 5%;
	margin-left: 3%;
}

aside p 
{
	margin-left: 15%;
	word-wrap: break-word
}

