body
{
	margin: 0px;
	display: flex;
	flex-direction: row-reverse;
}

#Partie_Principale
{
	width: 66%;
	padding-left: 4%;
	padding-top: 4%;
	margin-left: 0px;
}
	
.soulign
{
	border-bottom: 2px solid #d32f2f;
	padding-bottom: 10px;
	font-size: 1.8em;
}

h1
{
	font-size: 3em;
}

i
{
	color: #d32f2f;
	margin-right: 15px;
}

h2
{
	font-size: 1.8em;
	font-family: "Trebuchet MS";
}

h3
{
	font-size: 1.6em;
	font-family: Georgia;
	font-weight: normal;
}

h4
{
	font-size: 1.4em;
	font-family: Georgia;
	font-weight: normal;
}

p
{
	font-size: 1.2em;
	font-family: "Comic Sans MS";
}

header
{
	margin-bottom: 18%;
}
	
.nom
{
	color: #d32f2f;
}

#dev
{
	border-bottom: 2px solid  #d32f2f;
	padding-bottom: 10px;
}

#formation
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}	
	
#expérience
{	
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
	
#formation_1
{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	justify-content: space-between;
}	
	
.element_1
{
	padding-top: 6px;
	margin-right: 10px;
	width: 33%;
	word-wrap: break-word;
}	
	
.element_2
{
	margin-left: 60px;
	width: 66%;
	word-wrap: break-word;
}
	
#formation_2
{
	display: flex;
	justify-content: space-between;
}
	
#travail_1
{
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}
	
#travail_2
{
	display: flex;
	justify-content: space-between;
}
	
aside
{
	padding-left: 0px;
	margin-top: 0px;
}
	
#reco
{
	display: flex;
	justify-content: space-between;
}
		
#Partie_Principale img
{
	width: 5%;
	height: 5%;
}

#Partie_Secondaire
{
	width: 33%;
	background-color: #d32f2f;
}	

#Ma_Photo
{
	justify-content: center;
	display: flex;
	height: 350px;
}		

#Ma_Photo h2
{
	display: none;
}

#mini
{
	display: none;
}	

aside img
{
	width: 190px;
}	
	
#apropos
{
	margin-top: 70px;
}

#apropos p
{
	text-align: justify;
}
	
#contact
{
	padding-bottom: 80px;
}	

.titre_gauche
{
	background: #424242;
	text-align: center;
	color: #d32f2f;
	font-weight: bold;
	padding: 10px;
}

#icones_gauche
{
	margin-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	padding-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
}	

#loisirs
{
	display: flex;
	flex-direction: column;
	margin-top: 480px;
}
	
aside p 
{
	margin-left: 15%;
	word-wrap: break-word;
	margin-right : 15%;
}

aside i
{
	color: #424242;
	font-size: 3em;
	border: 3px solid #424242 ;
	border-radius: 50%;
	padding : 16px;
}

.decal
{
	margin-left: 13%;
}	

/* version mobile */
@media all and (max-width: 600px)
{
	body
	{
		display: flex;
		flex-direction: column;
	}

	#Partie_Principale
	{
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#Partie_Secondaire
	{
		width: 100%;
		margin-top: 30px;
	}

	#Partie_Principale h2
	{
		font-size: 22px;
	}

	#Ma_Photo
	{
		display: none;
	}

	#mini
	{
		height: 170px;
		display: flex;
		align-content: center;
		justify-content: center;
	}

	#mini img
	{
		width: 110px;
		height: auto;
	}

	aside i
	{
		font-size: 2em;
	}

	.element_2
	{
		margin-left: 5px;
		width: auto;
		max-width: 188px;
		word-wrap: break-word;
	}

	header h2
	{
		font-size: 21px;
	}

	.decal
	{
		margin-left: 0px;
	}
}

/* version tablette */
@media all and (min-width: 601px) and (max-width: 1023px)
{
	#Ma_Photo
	{
		height: 260px;
	}

	#Ma_Photo img
	{
		height: 250px;
		width: auto;
	}

	#loisirs
	{
		height: 310px;
		margin-top: 530px;
	}

	#loisirs i
	{
		font-size: 1em;
		margin-top: 0px;
	}

	h2.titre_gauche
	{
		margin-top: 40px;
	}

	p#icones_gauche
	{
		padding-top: 10px;
	}
}		

/* version laptop */
@media all and (min-width: 1024px) and (max-width: 1439px)
{
	#Ma_Photo
	{
		height: 300px;
	}

	#loisirs i
	{
		font-size: 2em;
	}
}

/* version ecran 4k */
@media all and (min-width: 2000px)
{
	p
	{
		font-size: 2em;
	}

	h1
	{
		font-size: 6em;
	}

	h2
	{
		font-size: 4em;
	}

	#Ma_Photo
	{
		height: 600px;
	}

	aside img
	{
		height: 590px;
		width: auto;
	}

	.soulign
	{
		font-size: 50px;
	}

	ul
	{
		font-size: 2em;
	}

	h3
	{
		font-size: 3em;
	}

	h4
	{
		font-size: 2.5em;
	}

	header
	{
		margin-bottom: 200px;
	}

	#apropos
	{
		margin-top: 220px;
	}

	p#icones_gauche
	{
		margin-top: 100px;
	}

	#loisirs
	{
		margin-top: 520px;
	}
}

@media all and (min-width: 1366px) and (max-width: 1366px)
{
	#Ma_Photo
	{
		height: 350px;
	}
}

	

	




	

	
	
	









	


	
	
	




	






































	











