body
{
	margin: 0px;
}

header
{
	padding-bottom: 15%;
}

.nom
{
	color: #d32f2f;
}

#contenu
{
	display: flex;
	flex-direction: row-reverse;
}

#Partie_Principale
{
	width: 66%;
	padding-left: 10%;
	padding-top: 4%;
	
}

#Partie_Secondaire
{
	width: 33%;
	background-color: #d32f2f;
	

}

#Ma_Photo
{
	justify-content: center;
	border :solid;
}

.titre_gauche
{
	background: #424242;
	text-align: center;
	color: #d32f2f;
	font-weight: bold;
	padding: 10px;
}

#reco
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px #d32f2f solid;
}

#loisirs
{
	display: flex;
	
	
}

#loisirs img 
{
	width: 10%;
	padding-left: 13%;
	padding-top: 5%;
	margin-left: 3%;
}

aside p 
{
	margin-left: 15%;
}